.idea
.vscode

/target
**/*.rs.bk
Cargo.lock
bin/
wasm-pack.log

www/pkg/
www/node_modules/
www/package-lock.json

## Ignore the interpreter -- this is pulled in thru a separate git repo.
www/lib/webwalc.ts
www/lib/ace-builds
